header{
    text-align: center;
    border-radius: 10px;
    background-color: rgba(95, 162, 251, 0.6);
    margin-left:450px ;
    margin-right: 450px; ; 
    padding-bottom: 100px;  
    padding-top: 50px;
    
}

body{
    background-image:url(../IMG/Home/hinh-anh-anime-phong-canh.jpg) ;
    background-size: cover ;
    font-family: 'Lobster', cursive; 
    padding-top: 50px;
}
.btn{
    text-align: center;
    border-radius: 10px;
    width: 150px;
    padding: 10px 0px; 
    cursor: pointer;
    color: white;
}
.input{
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10PX;
}
.input1{
    margin: 10px;
    width: 140px;
    height: 30px;
    border-radius: 10PX; 
}

.error{
    color: red;
}
  .cursor-pointer{
    cursor: pointer;
}
  
button{
    background-image: url(../IMG/UI/91Qs9DaFZL-1024x1396.jpeg);

}
button:hover{
    background-image: url(../IMG/UI/jojos-bizarre-adventure-part-5-golden-wind-vol-01-gn-manga.jpg);
    color:skyblue;
}
h1{
    color:blue;
}
h1:hover{
    color:white;
}
.input-name-wrapper{
    display: flex;
    margin-left: 60px;
}