body{
    font-family:'Pacifico', cursive;
    background-color: white;
    background-image: url(../IMG/UI/81X74FHprtL.jpg);
}

#Khudautrang{
   text-align: center;
   display: flex;
}
.thanhtimkiem{
    margin: 30px 20px;
    width: 400px;
    height: 30px;
    border-radius: 30px;
}
.dangnhap{
    background-color: #eb8334;
    margin:20px 20px 10px 200px ;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.dangnhap:hover{
    background-color:  #eb9b34;
}
.dangki{
    background-color: #3260a8;
    margin:20px 20px 10px 10px ;;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.dangki:hover{
    background-color:  lightblue;
}
.Khuthu{
    text-align: center;
    display: flex;
    background-color: #eb8334;
    color: white;
    padding-left: 150px;
    
}
.thanhchon{
    margin: 0px 0px; 
    height: 50px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.anhchinh a img {
    width: 300px;
    height: 190px;
    margin: 5px;
    position: relative;
    border-radius: 10px;
}
.khoanhchinh{
    display: flex;
    margin-left: 50px;
    background-color: #d5e0db;
    border-radius: 15px;
}


#anhchinh a img {
    width: 600px;
    height: 400px;
    margin: 5px;
    position: relative;
    border-radius: 10px;
    

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: blue;
}

.trangtong{
    margin-left: 20px;
    background-color: #d5e0db;
}
h3{
    position: absolute;
    z-index: 100;
    color: orangered;
    margin-top: 160px;
    margin-left: 20px;
}
.thanhchon:hover {
    background-color:#eb9b34;
  }
h3:hover{

    color: white;
}
.truyennho a img {
    width: 180px;
    height: 250px;
    border-radius: 15px;
    display: block;
}
.dong1{
    display: flex;
}
.dong2{
    display: flex;
}
.dong3{
    display: flex;
}
.dong1 a img{
    margin: 17px;
}

.dong2 a img{
    margin: 17px;
}

.dong3 a img{
    margin: 15px;
}
.trangtruyen{
    color: white;
    margin-left: 100px;
    display: inline;
}
.trangtruyen img{
    width: 891px;
    height: 1300px;
    padding-left: 200px;
}
#thanhchuyenchap {
    margin-top: 425px ;
     position: fixed; 
    background-color: darkslategrey;
    padding: 10px;
    padding-right: 500px
  }
select {
    width: 350px;
    margin-left: 500px;
  }
